*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 22px 30px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    background: rgba(238, 238, 238, 1);

}
input{
 width: 446px;
 padding: 10px;
 border: none;
 border-radius: 5px;
 outline: none;
}
.search{
    position: relative;
}
.search img{
    position: absolute;
    right: 0;
    transform: translateY(65%) translateX(-50%);
}
.main{
    display: flex;
    padding: 46px 44px;
}
.item1{
    flex:  3;
}
.carousel-item img{
    /* height: 496px; */
    border-radius: 6px;
}
.item2{
    flex: 1;
    
}
.item2 h2{
    padding-left: 20px;
}
.item2 div {
 display: flex;
 padding: 10px;
}
.item2 img{
    padding-right: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: rgba(245, 245, 245, 1);
}
.ftr-logo{
    padding-bottom: 20px;
}
.ftr-img{
    display: flex;
    width: 32px;
    height: 32px;
    gap: 20px;
}
.ftr-list{
    display: flex;
    width: 979px;
height: 256px;
gap: 60px;

}
.ftr-list ul{
gap: 20px;
}
.list-item{
    list-style: none;
}